/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");/* Para que los toasts tengan colores y se vean tipo tarjeta */

.toast-success {
  background-color: #51A351 !important;
  color: #fff !important;
  border-radius: 8px;
}

.toast-error {
  background-color: #BD362F !important;
  color: #fff !important;
  border-radius: 8px;
}

.toast-info {
  background-color: #2F96B4 !important;
  color: #fff !important;
  border-radius: 8px;
}

.toast-warning {
  background-color: #F89406 !important;
  color: #fff !important;
  border-radius: 8px;
}
